.skill {
  padding: 0 0 50px 0;
  position: relative;

  .skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }

  h2 {
    font-size: 45px;
    font-weight: 700;
  }

  p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 30px 0;
  }

  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1 / 1;

      img {
        width: 100%;
      }
    }

    // .circular-progress-bar {
    //   width: 62%;
    //   aspect-ratio: 1/1;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    // }

    .skill-name {
      margin-top: 30px;
    }
  }

  .react-multiple-carousel__arrow--left {
    left: -1%;
  }

  .react-multiple-carousel__arrow--right {
    right: -1%;
  }
}
