.contact {
  background: linear-gradient(90.21deg, #a5acdc, 0.09%, #4227b7 111.58%);

  .container {
    max-width: 80%;
  }

  padding: 80px 0;

  img {
    width: 92%;
    max-width: 575px;
    margin-right: 115px;
  }

  h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  form {
    input,
    textarea {
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      color: #fff;
      margin: 0 0 8px 0;
      padding: 18px 26px;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.8px;
      transition: 0.3s ease-in-out;

      &:focus {
        background: rgba(255, 255, 255, 1);
        color: #121212;

        &::placeholder {
          color: #121212;
          opacity: 0.8;
        }
      }

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
      }

      &:-internal-autofill-selected {
        background: rgba(255, 255, 255, 0.1) !important;
      }
    }

    .message-sent-text {
      font-size: 20px;
    }

    button {
      font-weight: 700;
      color: #000;
      background-color: #fff;
      padding: 14px 48px;
      font-size: 18px;
      margin-top: 25px;
      border-radius: 0;
      position: relative;
      transition: 0.3s ease-in-out;

      span {
        z-index: 1;
        position: relative;
      }

      &:hover {
        color: #fff;

        &::before {
          width: 100%;
        }
      }

      &::before {
        content: "";
        background: #121212;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: 0.3s ease-in-out;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .container {
      max-width: 1046px;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .container {
      max-width: 95%;
    }
  }

  @media (max-width: 768px) {
    .container {
      max-width: 95%;
    }
    & {
      padding: 50px 0;
    }
    img {
      margin-bottom: 45px;
    }
  }

  @media (max-width: 576px) {
    form {
      margin: 0 4%;
    }
  }
}
